{% extends "base.html" %}

{% block content %}

<h2 class="page-title">SOC ADMIN DASHBOARD</h2>

<div class="grid">

    <div class="card">Total Users: {{ total_users }}</div>
    <div class="card">Active Users: {{ active_users }}</div>
    <div class="card">Locked Accounts: {{ locked_users }}</div>

    <div class="card">Auth Logs: {{ auth_logs }}</div>
    <div class="card">Camera Status: ONLINE</div>
    <div class="card">System Health: STABLE</div>
    <div class="card">Devices Connected</div>

</div>

<div class="card large">

    <div class="title">LIVE CCTV MONITORING</div>

    <div class="cctv-box">
        <img src="/video_feed">
    </div>

</div>

<div class="card">

    <div class="title">SECURITY FEED</div>

    {% for log in logs %}

<div class="log">

    <table>
    <tr>
        <th>User</th>
        <th>Action</th>
        <th>IP Address</th>
        <th>Type</th>
        <th>Timestamp</th>
    </tr>

     {% for log in logs %}
        <tr>
            <td>{{ log[0] }}</td>
            <td>{{ log[1] }}</td>
            <td>{{ log[2] }}</td>
            <td>{{ log[3] }}</td>
            <td>{{ log[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endfor %}

</div>

{% endblock %}