{% extends "base.html" %}

{% block content %}

<div class="card">

<div class="title">
User Management
</div>

<table>

<tr>

<th>ID</th>
<th>User</th>
<th>Role</th>
<th>Status</th>
<th>Approval</th>
<th>Attempts</th>
<th>Actions</th>

</tr>

{% for user in users %}

<tr>

<td>{{user[0]}}</td>
<td>{{user[1]}}</td>
<td>{{user[2]}}</td>
<td>{{user[3]}}</td>
<td>{{user[4]}}</td>
<td>{{user[5]}}</td>

<td>

<a href="/approve/{{user[0]}}">
Approve
</a>

|

<a href="/block/{{user[0]}}">
Block
</a>

|

<a href="/unlock/{{user[0]}}">
Unlock
</a>

</td>

</tr>

{% endfor %}

</table>

</div>

{% endblock %}