<!DOCTYPE html>
<html>

<head>
    <title>NetSentinel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div class="container">

    <div class="sidebar">
        <h2>NETSENTINEL</h2>

        <a href="/dashboard">Dashboard</a>
        <a href="/logs">My Logs</a>

        {% if session.get('role') == "Admin" %}
            <a href="/admin">Admin Panel</a>
            <a href="/all-logs">System Logs</a>
        {% endif %}

        <a href="/logout">Logout</a>
    </div>

    <div class="main">
        {% block content %}{% endblock %}
    </div>

</div>

</body>
</html>