<!DOCTYPE html>
<html>
<head>
    <title>NetSentinel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div class="container">

    <div class="sidebar">
        <h2>NETSENTINEL</h2>

        <a href="/dashboard">Dashboard</a>
        <a href="/logs">My Logs</a>

        {% if session.get('role') == "Admin" %}
            <a href="/admin">Admin Panel</a>
            <a href="/all-logs">System Logs</a>
        {% endif %}

        <a href="/logout">Logout</a>
    </div>

    <div class="main">
        {% block content %}{% endblock %}
    </div>

</div>

<!-- Toast container -->
<div id="toast-container"></div>

<script>
function showToast(message, category) {
    const toast = document.createElement("div");
    toast.className = "toast " + category;
    toast.innerText = message;

    document.getElementById("toast-container").appendChild(toast);

    setTimeout(() => {
        toast.remove();
    }, 3000);
}
</script>

<script>
const messages = JSON.parse('{{ get_flashed_messages(with_categories=true) | tojson | safe }}');

if (messages) {
    messages.forEach(function(item) {
        showToast(item[1], item[0]);
    });
}
</script>

</body>
</html>