{% extends "base.html" %}

{% block content %}

<div class="card">

    <div class="title">
        Live CCTV Feed
    </div>

    <!-- CCTV FEED -->
    <div class="cctv-box">
        <img src="/video_feed">
    </div>

    <!-- BUTTONS UNDER VIDEO -->
    <div class="cctv-actions">

        <a href="/snapshot" class="btn">
            Capture Snapshot
        </a>

        <a href="/record/start" class="btn btn-green">
            Start Recording
        </a>

        <a href="/record/stop" class="btn btn-red">
            Stop Recording
        </a>

    </div>

</div>


<!-- SNAPSHOT HISTORY -->
<div class="history-box">

    <div class="title">
        Snapshot History
    </div>

    <table>

        <tr>
            <th>Filename</th>
            <th>Actions</th>
        </tr>

{% for image in images %}
<tr>
    <td>{{ image }}</td>

    <td>
        <a href="/snapshots/{{image}}" target="_blank" class="btn">
            View
        </a>

        <a href="/delete_snapshot/{{image}}"
           onclick="return confirm('Delete this snapshot?')"
           class="btn btn-red">
            Delete
        </a>
    </td>
</tr>
{% endfor %}


    </table>

</div>


<!-- RECORDING HISTORY -->
<div class="history-box">

    <div class="title">Recording History</div>

    <table>
       <tr>
    <th>Filename</th>
    <th>Actions</th>
</tr>

        {% for file in files %}
<tr>
    <td>{{ file }}</td>

    <td>
        <a href="/recordings/{{file}}" target="_blank" class="btn">
            View
        </a>

        <a href="/delete_recording/{{file}}"
           onclick="return confirm('Delete this recording?')"
           class="btn btn-red">
            Delete
        </a>
    </td>
</tr>

{% endfor %}

    </table>

</div>

{% endblock %}