{% extends "base.html" %}

{% block content %}

<div class="header">
    <h1>Welcome, {{session['user']}}</h1>
    <p>NetSentinel Monitoring Dashboard</p>
</div>

<div class="grid">

    <div class="card">
        <div class="title">Status</div>
        <div class="card-value">ACTIVE</div>
    </div>

    <div class="card">
        <div class="title">Total Logs</div>
        <div class="card-value">{{total_logs}}</div>
    </div>

    <div class="card">
        <div class="title">Camera</div>
        <div class="card-value">{{camera_status}}</div>
    </div>

    <div class="card">
        <div class="title">Security</div>
        <div class="card-value">HIGH</div>
    </div>

</div>


<div class="card">

<div class="title">
Live CCTV Feed
</div>

<div class="cctv-box">

<img src="/video_feed">

</div>

</div>


<div class="card">

<div class="title">
Recent Activity
</div>

{% for log in logs %}

<div class="activity-row">

<span>

{{log[0]}}

</span>

<small>

{{log[1]}}

</small>

</div>

{% endfor %}

</div>

{% endblock %}