{% extends "base.html" %}

{% block content %}

<div class="header">
    <h1>Welcome, {{username}}</h1>
    <p class="subtitle">NetSentinel Monitoring Dashboard</p>
</div>

<div class="grid">

    <div class="card">
        <div class="title">Status</div>
        <div class="card-value">ACTIVE</div>
    </div>

    <div class="card">
        <div class="title">Total Logs</div>
        <div class="card-value">{{ total_logs }}</div>
    </div>

    <div class="card">
        <div class="title">Camera</div>
        <div class="card-value">{{camera_status}}</div>
    </div>

    <div class="card">
        <div class="title">Security</div>
        <div class="card-value">HIGH</div>
    </div>

</div>

<!-- CCTV -->
<div class="card">

    <div class="title">
        Live CCTV Feed
    </div>

     <div class="cctv-box">
        <img src="https://merchants-centres-trace-pressure.trycloudflare.com/stream?key=praise-the-fool">
    </div>

</div>

<!-- LOGS -->
<div class="card">

    <div class="title">
        Recent Activity
    </div>

    <table>

        <tr>

            {% if session.get("role") == "Admin" %}
                <th>User</th>
            {% endif %}

            <th>Action</th>
            <th>IP Address</th>
            <th>Type</th>
            <th>Timestamp</th>

        </tr>

        {% for log in logs %}

        <tr>

            {% if session.get("role") == "Admin" %}

                <td>{{ log[0] }}</td>
                <td>{{ log[1] }}</td>
                <td>{{ log[2] }}</td>
                <td>{{ log[3] }}</td>
                <td>{{ log[4] }}</td>

            {% else %}

                <td>{{ log[0] }}</td>
                <td>{{ log[1] }}</td>
                <td>{{ log[2] }}</td>
                <td>{{ log[3] }}</td>

            {% endif %}

        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}
