{% extends "base.html" %}

{% block content %}

<div class="card">

    <div class="title">
        Security Notifications
    </div>

    <table>

        <tr>
            <th>User</th>
            <th>Notification</th>
            <th>Timestamp</th>
        </tr>

        {% for n in data %}

        <tr>

            <td>{{ n[0] }}</td>

            <td>

                {% if "Suspicious" in n[1] %}
                    ⚠️ {{ n[1] }}

                {% elif "Password reset" in n[1] %}
                    🔐 {{ n[1] }}

                {% else %}
                    {{ n[1] }}

                {% endif %}

            </td>

            <td>{{ n[2] }}</td>

        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}