{% extends "base.html" %}

{% block content %}

<div class="card">
    <div class="title">Password Reset Requests</div>

    <table>
        <tr>
            <th>User ID</th>
            <th>Status</th>
            <th>Time</th>
            <th>Action</th>
        </tr>

        {% for r in data %}
        <tr>
            <td>{{ r[1] }}</td>
            <td>{{ r[2] }}</td>
            <td>{{ r[3] }}</td>
            <td>

                {% if r[2] == 'Pending' %}

                <a href="/reset/approve/{{r[0]}}">Approve</a> |
                <a href="/reset/reject/{{r[0]}}">Reject</a>

                {% else %}

                {{ r[2] }}

                {% endif %}

            </td>
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}