{% extends "base.html" %}

{% block content %}

<div class="card">

    <div class="title">
        Technical Support
    </div>

    <p>

        Submit concerns regarding:

    </p>

    <br>

    <ul>

        <li>Locked Account</li>

        <li>Password Reset</li>

        <li>CCTV Access Issue</li>

        <li>System Problems</li>

    </ul>

    <br>

    <form method="POST">

        <textarea
            name="message"
            placeholder="Describe your issue..."
            required
            rows="6"
            style="
            width:100%;
            background:#0f172a;
            color:white;
            border:none;
            padding:12px;
            border-radius:10px;
            "
        ></textarea>

        <br><br>

        <button>

            Submit Request

        </button>

    </form>

</div>

{% endblock %}